:root {
    --yellow: #FCDD26;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .3s cubic-bezier(.38, 1.15, .7, 1.12);
}

*::selection {
    background: #333;
    color: var(--yellow);
}

/* 被景色 */

body {
    background-color: #F4F3F2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    font-size: 75%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0.3rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

/* ======================== btn setting ============================= */

.loaderpage {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3000;
}

/* ======================== heading setting ============================= */

.heading {
    text-align: center;
    padding: 1rem;
    color: #333;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
    font-size: 3rem;
}

.heading2 {
    text-align: center;
    padding: 1rem;
    color: #333;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
    font-size: 3rem;
    padding-top: 8rem;
}

.heading i, .heading2 i {
    padding: 0 .5rem;
    color: var(--yellow);
}

/* NAV BAR 顏色 */

.header-navbar {
    width: 100%;
    background: #F4F3F2;
    /* background-color: #00A8FF; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    position: relative;
    /* line-height: 1.5; */
}

.header-navbar .logo {
    font-size: 2.5rem;
    color: #333;
    text-decoration: none;
}

.header-navbar .logo i {
    transform: rotate(-65deg);
    color: var(--yellow);
}

.header-navbar .nav-bar a {
    color: #333;
    font-size: 1.7rem;
    margin: 10px;
    padding: 10px 3rem;
    border: 1px black solid;
    border-radius: 5px;
    text-decoration: none;
}

.header-navbar .nav-bar a:hover {
    background-color: #b8a971;
    color: cornsilk;
}

.header-navbar .icons i, .header-navbar .icons a {
    font-size: 2.5rem;
    color: #333;
    padding-left: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.header-navbar .icons i:hover, .header-navbar .icons a:hover {
    color: var(--yellow);
}

.fa-times {
    transform: rotate(-360deg);
}

#menu {
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    display: none;
}

.header-navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    z-index: 1000;
}

#search-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: goldenrod;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    z-index: 10000;
}

#search-box.active {
    transform: scaleY(1);
    opacity: 1;
}

#search-box #search {
    width: 100%;
    padding: 1rem;
    text-transform: none;
    font-size: 2rem;
}

#search-box #search::placeholder {
    text-transform: capitalize;
}

#search-box label {
    font-size: 3rem;
    color: #333;
    padding-left: 2rem;
    cursor: pointer;
}

/* ======================== Classification setting ============================= */

.Classification {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Classification .classOne {
    margin: 60px 0 60px 0;
    position: relative;
}

.Classification .classOne h4 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: #000000;
}

.Classification .classOne::before {
    content: '';
    height: 8px;
    width: 8px;
    left: 2px;
    border-radius: 50%;
    background-color: #af997c;
    top: 50px;
    left: 58px;
    /* bottom: 10px; */
    margin: auto;
    position: absolute;
    box-shadow: 15px 0px 0 #af997c, -15px 0px 0 #af997c;
}

.classTow {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 60px;
    /* justify-content: space-around; */
}

.twoImg {
    border: 1px solid #756753;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px;
    width: 150px;
    height: 150px;
    position: relative;
}

.twoImg img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mytwoText {
    /* border: 1px rgb(0, 132, 255) solid; */
    text-align: center;
    position: relative;
    bottom: 40px;
}

.mytwoText a {
    text-decoration: none;
    color: #473e31;
    font-size: 20px;
    font-weight: 600;
}

.mytwoText a:hover {
    color: #7f6c51;
}

/* ======================== login setting ============================= */

.BgImg {
    background-image: url(../img/註冊.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.Login {
    z-index: 10;
}

.ImgBox {
    position: relative;
    width: 50%;
    height: 100%;
}

.ImgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ContenBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* pointer-events: none ; */
}

.FormBox {
    width: 50%;
}

.FormBox h2 {
    color: #607d8b;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-bottom: 4px solid #00A8FF;
    display: inline-block;
}

.FormBox .InputBox {
    margin-bottom: 20px;
}

.FormBox .InputBox span {
    font-size: 1rem;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
}

.FormBox .InputBox input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-size: 1rem;
    border-radius: 30px;
}

.BorderBox input {
    border: 1px solid #607d8b;
}

.FormBox .InputBox input[type='submit'] {
    background: #00A8FF;
    outline: none;
    border: none;
    cursor: pointer;
}

.FormBox .InputBox input[type='submit']:hover {
    background: #43bdfa;
}

.Remember {
    margin-bottom: 10px;
}

.Forget {
    float: right;
}

.Forget a {
    text-decoration: none;
    color: rgb(80, 64, 224);
}

.FormBox .InputBox p a {
    color: rgb(80, 64, 224);
    cursor: pointer;
}

.Agree {
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.Agree a {
    color: rgb(80, 64, 224);
    text-decoration: none;
    cursor: pointer;
}

.SeeBox {
    display: flex;
    border: 1px solid #607d8b;
    border-radius: 30px;
    background-color: #fff;
}

.SeeBox input {
    border: 0;
}

.SeeBox i {
    margin: auto;
    padding-right: 20px;
}

.fa-eye-slash {
    opacity: 0.6;
}

#AgreeBox {
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: auto;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #00000099;
}

#Agree_Box {
    position: absolute;
    overflow: auto;
    width: 80vw;
    height: 80vh;
    top: 15vh;
    left: calc(50% - 40vw);
    /* z-index: 5; */
    background-color: #eee;
    box-shadow: 3px 3px #333;
    border: 2px solid #333;
}

#Agree_Box h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 5px;
}

#Agree_Box p {
    line-height: 1.8rem;
    padding: 1.5vh;
}

#IagreeBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Iagree {
    background-color: rgb(245, 192, 17);
    width: 50%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}

#Iagree:hover {
    background-color: rgb(248, 205, 63);
    cursor: pointer;
}

/* 卷軸 */

#Agree_Box::-webkit-scrollbar {
    width: 0.3rem;
}

#Agree_Box::-webkit-scrollbar-track {
    background: #333;
}

#Agree_Box::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

@media only screen and (min-width: 1000px) {
    .Login, .Register, .ForgetMyPassword {
        width: 1000px;
        height: 600px;
        display: flex;
        position: absolute;
        top: calc( 50vh - 300px);
        left: calc( 50vw - 500px);
    }
    .ContenBox {
        background-color: #eee;
    }
}

@media only screen and (max-width: 1000px) {
    .Login, .Register, .ForgetMyPassword {
        width: 90vw;
        height: 90vh;
        display: flex;
        position: absolute;
        top: 5vh;
        left: 5vw;
    }
    .ImgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .ContenBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .ContenBox .FormBox {
        width: 100%;
        padding: 40px;
        background-color: #fff;
        opacity: 0.9;
        margin: 50px;
    }
}

@keyframes MoveOut1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes MoveOut2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes MoveIn1 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes MoveIn2 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* ======================== cards setting ============================= */

.cards {
    /* width: 90%; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: auto;
    background-color: #f7f8f1;
    text-align: center;
    margin: 20px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover {
    background-color: rgb(221, 221, 221);
    transition: 1s ease;
}

.card h2 {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #df6060;
    letter-spacing: 2px;
}

.image {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: auto;
}

.description {
    text-align: center;
}

.description h1 {
    margin-top: 20px;
    font-size: 25px;
    color: #000000
}

.description p {
    font-size: 24px;
    margin-top: 8px;
}

.description span {
    margin-left: 3px;
    color: red;
}

.description del {
    margin-left: 7px;
    font-size: 15px;
    /* color: red; */
}

.button-group {
    margin-top: 10px;
}

.button-group .buy {
    background-color: #a08200;
    font-size: 16px;
    padding: 6px 20px;
    text-decoration: none;
    color: #000000;
    border-radius: 20px;
}

.button-group .buy:hover {
    background-color: #042a35;
    color: #fff;
    transition: 0.6s ease;
}

.button-group .cart {
    background-color: #a08200;
    font-size: 16px;
    padding: 6px 50px;
    text-decoration: none;
    color: #000000;
    border-radius: 20px;
}

.button-group .cart:hover {
    background-color: #a08200;
    color: #fff;
    transition: 0.6s ease;
}

/* ======================== prop setting ============================= */

.leftContainaer {
    /* border: 1px solid yellow;  */
    width: 140px;
    height: 100%;
    position: sticky;
    top: 150px;
    z-index: 100;
}

.leftItem {
    /* border: 1px solid rgb(51, 51, 48);   */
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    /* justify-content: space-between; */
}

.leftItem a {
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    /* border: rgb(78, 77, 74) 1px solid;   */
    border-bottom: rgb(78, 77, 74) 1px solid;
}

.itemOne {
    /* border: 1px solid rgb(255, 0, 0);  */
    /* margin-bottom: 30px; */
    width: 150px;
    text-align: left;
    font-size: 16px;
    color: black;
    position: relative;
}

.itemOne:hover {
    color: rgb(202, 151, 21);
    transform: translateY(-5px);
}

.leftContainaer .leftItem a:hover {
    transform: translateY(-5px);
}

.itemOne::after {
    content: '';
    position: absolute;
    top: 35px;
    left: 0px;
    height: 20px;
    width: 130px;
    /* border-bottom: .5px solid rgb(206, 201, 201); */
}

/* 商品區塊 */

.mh-portfolio {
    padding-top: 0;
}

.containe {
    width: 100%;
    position: relative;
    top: -30px;
}

.portfolio-nav {
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 50px;
    /* border: 1px solid rgb(61, 7, 255);  */
    margin-top: 30px;
    position: relative;
    /* z-index: 10000; */
}

/* .section {
    margin-top: 0px;
} */

/* .section .cards {
    width: 100%;
    position: relative;
    top: -70px;
    padding-left: 80px;
    padding-top: 0;
} */

.myRow {
    /* border: 1px solid greenyellow ;  */
    margin-top: 0px;
}

.portfolio-nav ul {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    float: none;
    text-align: center;
    font-size: 24px;
}

.portfolio-nav ul li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.portfolio-nav ul li:hover {
    color: #e4a54e;
}

.portfolio-nav ul li span {
    padding: 15px 0;
    color: rgb(0, 0, 0);
    /* border-bottom: 2px solid transparent;  */
}

.portfolio-nav ul li span:hover {
    color: #e4a54e;
    transition: .5;
}

.two {
    position: relative;
}

.two::before {
    width: 0px;
    height: 70px;
    content: "";
    display: block;
    background-color: #ccc;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 0;
    z-index: -1;
    transition: 0.2s;
}

.portfolio-nav ul li .two:hover::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 10px;
    transition: width position 0.2s;
    /* border: red 1px solid; */
}

.one {
    position: relative;
}

.one::before {
    width: 0px;
    height: 70px;
    content: "";
    display: block;
    background-color: #ccc;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0px;
    width: 0;
    z-index: -1;
    transition: 0.2s;
}

.portfolio-nav ul li .one:hover::before {
    width: 100%;
    left: 0;
    transition: width position 0.2s;
}

.thr {
    position: relative;
}

.thr::before {
    width: 0px;
    height: 70px;
    content: "";
    display: block;
    background-color: #ccc;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0px;
    width: 0;
    z-index: -1;
    transition: 0.2s;
}

.portfolio-nav ul li .thr:hover::before {
    width: 100%;
    left: 0;
}

.current span {
    border: 1px black solid;
    border-radius: 5px;
    background-color: goldenrod;
    /* border-bottom: 2px solid rgb(78, 77, 74); */
    position: relative;
}

.part {
    width: 90%;
    height: 100%;
    /* border: 1px solid red;   */
    margin-left: 150px;
    position: relative;
    top: -600px;
    /* border: 1px solid blue; */
}

@media (max-width:1306px) {
    .card {
        margin-left: 0;
    }
}

@media (max-width:1229px) {
    .card {
        margin-left: 0;
    }
}

@media (max-width:906px) {
    .card {
        margin-left: 0;
    }
}

@media (max-width:871px) {
    .card {
        width: 250px;
        margin: auto;
        margin: 5px;
    }
}

@media (max-width:770px) {
    .portfolio-nav {
        /* border: 1px black solid; */
        position: relative;
        z-index: 10000;
    }
    header {
        position: relative;
        top: -20;
        padding: 0;
    }
    .part {
        width: 100%;
        position: relative;
        top: -180px;
        margin-left: 0;
        /* border: 10px red solid; */
    }
    .section .cards {
        /* position: relative;
                        top: -100px; */
        width: 100%;
        text-align: center;
    }
    .leftContainaer {
        /* border: 1px solid yellow;  */
        width: 100%;
        height: 100%;
        position: relative;
        top: 0px;
        z-index: 400;
    }
    .leftItem a {
        display: inline-block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-decoration: none;
        /* border: rgb(78, 77, 74) 1px solid;   */
        text-align: center;
        border-bottom: rgb(194, 192, 191) 1px solid;
    }
    .itemOne {
        /* border: 1px solid rgb(255, 0, 0);  */
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: black;
        position: relative;
    }
    .card {
        width: 200px;
        margin: auto;
        margin: 5px;
    }
    .description h1 {
        font-size: 16px;
    }
    .description span {
        font-size: 20px;
    }
    .button-group .cart {
        width: 100%;
        font-size: 17px;
        padding: 6px 20px;
    }
    .cards {
        margin-top: 25px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width:759px) {
    .card {
        width: 170px;
        margin: 5px;
    }
}

@media (max-width:761px) {
    .card {
        width: 170px;
        margin: 5px;
    }
}

@media (max-width:540px) {
    .card {
        width: 170px;
        margin: auto;
        margin: 6px;
    }
    .cards {
        display: flex;
        justify-content: center
    }
}

@media (max-width:500px) {
    .card {
        width: 150px;
        margin: auto;
        margin: 5px;
    }
}

@media (max-width:411px) {
    .card {
        width: 210px;
        margin-left: auto;
        margin: 5px;
    }
}

@media (max-width:360px) {
    .card {
        width: 180px;
        margin: auto;
        margin: 5px;
    }
}

.checkb {
    display: none;
}

.checkc {
    display: none;
}

.checkd {
    display: none;
}

.checke {
    display: none;
}

.checkf {
    display: none;
}

/* ======================== cartpage setting ============================= */

.cartcontainer {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 250px;
    align-self: flex-end;
    /* margin-top: 120px; */
}

.cartcontainer>h1 {
    padding: 20px 0;
}

.cart {
    display: flex;
}

.products {
    flex: 0.75;
}

.product {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
}

.product:hover {
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.product>img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.product>img:hover {
    transform: scale(1.04);
}

.product-info {
    padding: 20px;
    width: 100%;
    position: relative;
}

.product-name, .product-price, .product-offer {
    margin-bottom: 20px;
}

.product-remove {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.product-remove:hover {
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}

.product-quantity>input {
    width: 40px;
    padding: 5px;
    text-align: center;
}

.fa {
    margin-right: 5px;
}

.cart-total {
    flex: 0.25;
    margin-left: 20px;
    padding: 25px;
    height: 300px;
    border: 1px solid silver;
    border-radius: 5px;
}

.cart-total p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.cart-total a {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: tomato;
    color: white;
    text-decoration: none;
}

.cart-total a:hover {
    background-color: red;
}

@media screen and (max-width: 400px) {
    .product-remove {
        padding: 8px 15px;
    }
}

@media screen and (max-width: 700px) {
    .remove {
        display: none;
    }
    .product {
        height: 150px;
    }
    .product>img {
        height: 150px;
        width: 200px;
    }
    .product-name, .product-price, .product-offer {
        margin-bottom: 5px;
    }
    /* .product-info h3, h4 {} */
}

@media screen and (max-width: 900px) {
    .cart {
        flex-direction: column;
    }
    .cart-total {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1220px) {
    .cartcontainer {
        max-width: 95%;
    }
}

/* ======================== booking setting ============================= */

.common-header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000
}

.common-header>* {
    pointer-events: initial
}

.common-header .tag-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1
}

.common-header .tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 64px;
    height: 228px;
    padding: 30px 0
}

.common-header .tag .circle-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border: 1px solid #fff;
    border-radius: 50%
}

.common-header .tag .circle-down:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: translateY(-2px) rotate(45deg);
    -ms-transform: translateY(-2px) rotate(45deg);
    transform: translateY(-2px) rotate(45deg)
}

.bc-p-1 {
    background-color: #004b4a
}

.c-fff {
    color: #fff
}

@media (max-width:1050px) {
    .common-header .tag .circle-down {
        height: 12px;
        width: 12px
    }
    .common-header .tag .circle-down:before {
        height: 4px;
        width: 4px;
        -webkit-transform: translateY(-1px) rotate(45deg);
        -ms-transform: translateY(-1px) rotate(45deg);
        transform: translateY(-1px) rotate(45deg)
    }
}

.common-header .tag .text {
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: translateX(-50%) rotate(90deg) translateY(50%);
    -ms-transform: translateX(-50%) rotate(90deg) translateY(50%);
    transform: translateX(-50%) rotate(90deg) translateY(50%)
}

@media (max-width:1050px) {
    .common-header .scroll-down {
        bottom: initial;
        top: calc(60px + 107.5vw);
        left: 4.6875vw;
        -webkit-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
        transform: translateY(-70px);
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1)
    }
    .common-header .header-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 60px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
    }
    .common-header .tag {
        width: 32px;
        height: 124px;
        padding: 10px 0
    }
}

/* =================================================================== */

.section1 {
    padding-left: 31%;
    margin-bottom: 15.10417vw
}

.section1-img {
    width: 100%
}

.section1-img__inner {
    padding-top: 59.35829%
}

.section1-img .img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s
}

.section1-img .img-wrapper {
    opacity: 1
}

.section1-img .img-wrapper img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.section1__maintitle {
    position: absolute;
    left: 11.45833vw;
    top: 40%;
    padding-top: 266px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.section1__maintitle--en {
    margin-bottom: 3.125vw
}

.section1 .tag-wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 31%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}

@media (max-width:1050px) {
    .section1 {
        padding-top: 60px;
        padding-left: initial;
        margin-bottom: 36px
    }
    .section1-img__inner {
        padding-top: 114.0625%
    }
    .section1__maintitle {
        position: relative;
        left: 0;
        top: initial;
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
        padding-top: initial;
        padding-left: 7.8125vw;
        margin-top: -6vw;
        margin-bottom: 36px
    }
    .section1__maintitle--en {
        margin-bottom: 20px
    }
    .section1 .tag-wrapper {
        position: relative;
        bottom: initial;
        left: initial;
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
        padding: 0 7.8125vw
    }
}

.section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.60417vw
}

.section2 .col-img img {
    height: 50vw
}

.section2 .col-text {
    padding: 7.8125vw 0
}

.section2__maintitle {
    color: rgba(200, 200, 200, 0.35);
    padding-top: 1.04167vw;
    margin-bottom: 7.8125vw
}

.section2__maintitle:before {
    content: '';
    display: block;
    height: 0.52083vw;
    width: 2.1875vw;
    background-color: #f0d283
}

@media (max-width:1050px) {
    .section2__maintitle:before {
        height: 5px;
        width: 20px
    }
}

.section2__maintitle:before {
    position: absolute;
    top: 0;
    left: 0
}

@media (max-width:1050px) {
    .section2 {
        display: block;
        margin-bottom: 68px
    }
    .section2 .col-img img {
        height: 68.75vw
    }
    .section2 .col-text {
        padding-top: initial;
        padding-left: 7.8125vw;
        padding-right: 9.375vw
    }
    .section2__maintitle {
        padding-top: 12px;
        margin-bottom: 30px
    }
}

.section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 14.58333vw
}

.section3 .col-img {
    width: 53%
}

.section3 .col-img__inner {
    padding-top: 54.45545%;
    background-color: #004b4a
}

.section3 .col-img__inner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translate(-3.125vw, -2.08333vw);
    -ms-transform: translate(-3.125vw, -2.08333vw);
    transform: translate(-3.125vw, -2.08333vw)
}

.section3 .col-img .img-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12.60417vw;
    -webkit-transform: translate(-58%, 2%);
    -ms-transform: translate(-58%, 2%);
    transform: translate(-58%, 2%)
}

.section3 .col-text {
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 11.45833vw;
    padding-right: 13.02083vw
}

.section3 .col-text__inner {
    top: 58%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media (max-width:1050px) {
    .section3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        margin-bottom: 70px
    }
    .section3 .col-img {
        width: 100%;
        padding-right: 3.125vw;
        padding-left: 12.5vw
    }
    .section3 .col-img__inner img {
        -webkit-transform: translate(-4.375vw, -3.75vw);
        -ms-transform: translate(-4.375vw, -3.75vw);
        transform: translate(-4.375vw, -3.75vw)
    }
    .section3 .col-img .img-2 {
        width: 21.875vw;
        -webkit-transform: translate(16%, 20%);
        -ms-transform: translate(16%, 20%);
        transform: translate(16%, 20%)
    }
    .section3 .col-text {
        width: 100%;
        padding-left: 7.8125vw;
        padding-right: 9.375vw
    }
    .section3 .col-text__inner {
        top: initial;
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
        padding-top: calc(6vw + 32px)
    }
}

.section4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 14.58333vw
}

.section4 .col-img {
    width: 57%
}

.section4 .col-img__inner {
    padding-top: 66.51292%
}

.section4 .col-img__inner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translateX(3.38542vw);
    -ms-transform: translateX(3.38542vw);
    transform: translateX(3.38542vw)
}

.section4 .col-img:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 120%;
    width: 42.1875vw;
    background-color: #f7c4c4
}

.section4 .col-text {
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 10.67708vw;
    padding-right: 11.97917vw
}

.section4 .col-text__inner {
    top: 51%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media (max-width:1050px) {
    .section4 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 70px
    }
    .section4 .col-img {
        width: 100%;
        padding-right: 15.625vw
    }
    .section4 .col-img__inner img {
        -webkit-transform: translateX(7.8125vw);
        -ms-transform: translateX(7.8125vw);
        transform: translateX(7.8125vw)
    }
    .section4 .col-img:before {
        width: 62.5vw
    }
    .section4 .col-text {
        width: 100%;
        padding-left: 7.8125vw;
        padding-right: 9.375vw
    }
    .section4 .col-text__inner {
        top: initial;
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
        padding-top: 60px
    }
}

.section5 {
    padding-left: 25.41667vw;
    padding-right: 16.14583vw;
    margin-bottom: 12.5vw
}

.section5__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.section5 .img-1 {
    width: 52%
}

.section5 .img-1 .img-inner {
    padding-top: 54.43478%
}

.section5 .img-1 .img-inner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.section5 .col-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.section5 .col-img {
    width: 48%
}

.section5 .col-img__inner {
    padding-top: 133.21168%
}

.section5 .col-img__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width:1050px) {
    .section5 {
        padding-left: 7.8125vw;
        padding-right: 9.375vw;
        margin-bottom: 74px
    }
    .section5__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .section5 .img-1 {
        width: 100%;
        margin-bottom: 36px
    }
    .section5 .col-text {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 100%
    }
    .section5 .col-img {
        width: 100%;
        margin-bottom: 54px
    }
}

.section6 {
    padding: 0 7.8125vw;
    margin-bottom: 6.77083vw
}

.section6__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 104px;
    border: 3px solid #004b4a
}

.section6__header .col-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 104px;
    border-right: 3px solid #004b4a
}

.section6__header .col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.section6__header .col-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #004b4a;
    height: 100%;
    width: 270px;
    padding: 0 68px;
    cursor: pointer
}

.section6__header .col-3 .plus {
    height: 28px;
    width: 28px;
    background-color: #004b4a;
    border: 1px solid #fff
}

.section6__header .col-3 .plus:after, .section6__header .col-3 .plus:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff
}

.section6__header .col-3 .plus:before {
    height: 1px;
    width: 50%
}

.section6__header .col-3 .plus:after {
    height: 50%;
    width: 1px;
    -webkit-box-shadow: 0 0 0 1px #004b4a;
    box-shadow: 0 0 0 1px #004b4a
}

@media (max-width:1050px) {
    .section6__header .col-3 .plus {
        height: 22px;
        width: 22px
    }
}

.section6__header .col-3 .plus:after, .section6__header .col-3 .plus:before {
    border-color: #fff
}

@media (hover:hover) {
    .section6__header .col-3:hover {
        -webkit-filter: brightness(1.1);
        filter: brightness(1.1)
    }
}

.section6 .steps-wrapper {
    border-right: 3px solid #004b4a;
    border-left: 3px solid #004b4a;
    border-bottom: 3px solid #004b4a
}

.section6 .steps-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 75px;
    opacity: 0;
    max-height: 0;
    overflow: hidden mar
}

.section6 .steps-inner {
    opacity: 1;
    max-height: 999px;
}

.section6 .step-item+.step-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.section6 .step-item+.step-item:before {
    content: '➜';
    display: block;
    color: #e3ad1e;
    padding: 0 4px
}

.section6__body {
    border-right: 3px solid #004b4a;
    border-left: 3px solid #004b4a;
    border-bottom: 3px solid #004b4a;
    padding: 66px 9.375vw 74px
}

.section6 .wrapper {
    border-right: 3px solid #004b4a;
    border-left: 3px solid #004b4a;
}

.section6__body .maintitle {
    margin-bottom: 50px
}

.section6__body .content-wrapper {
    opacity: 0;
    max-height: 0;
    overflow: hidden
}

.section6__body .content-wrapper {
    opacity: 1;
    max-height: 9999px;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s
}

.section6 .btn-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    background-color: #004b4a;
    width: 150px;
    height: 58px;
    padding: 0 30px;
    cursor: pointer
}

.section6 .btn-price .plus {
    height: 28px;
    width: 28px;
    background-color: #004b4a;
    border: 1px solid #fff
}

.section6 .btn-price .plus:after, .section6 .btn-price .plus:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff
}

.section6 .btn-price .plus:before {
    height: 1px;
    width: 50%
}

.section6 .btn-price .plus:after {
    height: 50%;
    width: 1px;
    -webkit-box-shadow: 0 0 0 1px #004b4a;
    box-shadow: 0 0 0 1px #004b4a
}

@media (max-width:1050px) {
    .section6 .btn-price .plus {
        height: 22px;
        width: 22px
    }
}

.section6 .btn-price .plus:after, .section6 .btn-price .plus:before {
    border-color: #fff
}

@media (max-width:1050px) {
    .section6 {
        padding: 0 7.8125vw;
        margin-bottom: 100px
    }
    .section6__header {
        height: 46px;
        border-width: 1px
    }
    .section6__header .col-1 {
        width: 46px;
        border-width: 1px
    }
    .section6__header .col-1 img {
        height: 30px
    }
    .section6 .steps-wrapper {
        padding: 22px 14px;
        height: initial;
        border-width: 1px
    }
    .section6 .step-item+.step-item:before {
        padding: 0 2px
    }
    .section6__body {
        border-width: 1px;
        padding: 30px 6.25vw 50px 3.75vw
    }
    .section6__body .maintitle {
        margin-bottom: 36px
    }
    .section6 .wrapper {
        border-right: 1px solid #004b4a;
        border-left: 1px solid #004b4a;
    }
}

.notice-wrapper .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -3.38542vw
}

.notice-wrapper .row+.row {
    margin-top: 60px;
    padding-top: 60px
}

.notice-wrapper .row+.row:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 3.38542vw;
    right: 3.38542vw;
    height: 1px;
    background-color: #c8c8c8
}

.notice-wrapper .row+.row:last-child {
    margin-bottom: 1.5625vw
}

.notice-wrapper .col {
    width: 50%;
    padding: 0 3.38542vw
}

.notice-wrapper .title {
    margin-bottom: 30px
}

@media (max-width:1023.98px) {
    .notice-wrapper .row {
        display: block;
        margin: initial
    }
    .notice-wrapper .row+.row {
        margin-top: 30px;
        padding-top: 30px
    }
    .notice-wrapper .row+.row:before {
        left: 0;
        right: 0
    }
    .notice-wrapper .row:last-child {
        margin-bottom: 50px
    }
    .notice-wrapper .col {
        width: 100%;
        padding: initial
    }
    .notice-wrapper .col+.col {
        margin-top: 30px
    }
    .notice-wrapper .title {
        margin-bottom: 20px
    }
}

.list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 22.91667vw
}

.list-item:before {
    content: '';
    display: block;
    width: 12px;
    height: 1px;
    background-color: #004b4a;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 10px;
    margin-right: 10px
}

.list-item+.list-item {
    margin-top: 1.5625vw
}

.col-text .title {
    margin-bottom: 2.08333vw
}

@media (max-width:1023.98px) {
    .list-item {
        max-width: initial
    }
    .list-item+.list-item {
        margin-top: 30px
    }
    .col-text .title {
        margin-bottom: 30px
    }
}

:root {
    --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
}

.section1 .section1-img .section1-img__inner {
    width: 100%;
    animation: aboutImage 4s linear infinite;
}

@keyframes aboutImage {
    0%, 100% {
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50% {
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

/* ========================price list===================================== */

.price-lightbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 10vh 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    z-index: 1000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s
}

.price-lightbox.active {
    opacity: 1;
    pointer-events: initial
}

.price-lightbox__inner {
    background-color: #fff;
    padding: 86px 120px 144px
}

.price-lightbox__maintitle {
    color: rgba(200, 200, 200, 0.35);
    padding-top: 2.08333vw;
    margin-bottom: 3.64583vw
}

.price-lightbox__maintitle:before {
    content: '';
    display: block;
    height: 0.52083vw;
    width: 2.1875vw;
    background-color: #f0d283
}

.price-lightbox__maintitle:before {
    position: absolute;
    top: 0;
    left: 0
}

.price-lightbox .content-wrapper {
    opacity: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden
}

.price-lightbox .content-wrapper.active {
    opacity: 1;
    max-height: 9999px;
    max-width: 9999px
}

.price-lightbox .btn-booking {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%)
}

.price-lightbox .btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 20px;
    -webkit-transform: translate(20px, -20px);
    -ms-transform: translate(20px, -20px);
    transform: translate(20px, -20px);
    cursor: pointer
}

.price-lightbox .btn-close .cross {
    height: 40px;
    width: 40px
}

.price-lightbox .btn-close .cross:after, .price-lightbox .btn-close .cross:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 100%;
    background-color: #004b4a
}

.price-lightbox .btn-close .cross:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg)
}

.price-lightbox .btn-close .cross:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg)
}

.price-table {
    margin: 0 2.86458vw 50px;
    width: 240px
}

.price-table__maintitle {
    margin-bottom: 30px
}

.price-table .lists-wrapper {
    padding-bottom: 30px
}

.price-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 2px solid #969696
}

.price-list .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 110px
}

.price-list .sign {
    margin-right: 8px
}

.price-item+.price-item {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #969696
}

.price-item .title {
    margin-bottom: 24px
}

.price-item .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.price-item .price .nt {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 12px;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px)
}

.price-item .price .day {
    margin-left: 8px;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px)
}

.btn-solid-template {
    padding: 1.35417vw 3.125vw
}

.price-surface {
    display: none;
}

.surface {
    display: flex;
    animation: fade 0.3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:1023.98px) {
    .btn-solid-template {
        padding: 15px 34px
    }
}

@media (max-width:1023.98px) {
    .price-lightbox__maintitle:before {
        height: 5px;
        width: 20px
    }
}

@media (max-width:1023.98px) {
    .price-lightbox .btn-close .cross {
        width: 30px;
        height: 30px
    }
    .price-lightbox .btn-close .cross:after, .price-lightbox .btn-close .cross:before {
        height: 3px
    }
}

@media (max-width:1023.98px) {
    .price-lightbox {
        padding: 10vh 0 20vh
    }
    .price-lightbox__inner {
        padding: 40px 30px 60px
    }
    .price-lightbox__maintitle {
        padding-top: 12px;
        margin-bottom: 36px
    }
    .price-lightbox .btn-close {
        top: 20px;
        right: 20px
    }
}

@media (max-width:1023.98px) {
    .price-table {
        margin: initial
    }
    .price-table+.price-table {
        margin-top: 50px
    }
    .price-table__maintitle {
        margin-bottom: 20px
    }
    .price-table .lists-wrapper {
        padding-bottom: 20px
    }
}

@media (max-width:1023.98px) {
    .price-list {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-width: 1px
    }
    .price-list .content {
        width: 86px
    }
}

@media (max-width:1023.98px) {
    .price-item+.price-item {
        padding-top: 20px;
        margin-top: 20px
    }
    .price-item .title {
        margin-bottom: 16px
    }
    .price-item .price .nt {
        margin-right: 10px
    }
    .price-item .price .day {
        margin-left: 5px;
        -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
        transform: translateY(2px)
    }
}

.species-wrapper+.species-wrapper {
    margin-top: 100px
}

.species-wrapper__maintitle {
    margin-bottom: 60px
}

.species-wrapper__inner {
    max-width: 600px
}

.species-wrapper__inner .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -2.86458vw
}

.species-wrapper .note-tag0__title {
    margin-bottom: 30px
}

@media (max-width:1023.98px) {
    .species-wrapper+.species-wrapper {
        margin-top: 50px
    }
    .species-wrapper__maintitle {
        margin-bottom: 36px
    }
    .species-wrapper__inner .row {
        display: block;
        margin: initial
    }
    .species-wrapper .note-tag0__title {
        margin-bottom: 16px;
        padding-top: 40px
    }
}

/* ======================== cartpage setting ============================= */

.tabs ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabs ul li {
    width: 500px;
    padding: 15px;
    text-align: center;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
}

.tabs ul li .icon {
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.tabs ul li:last-child {
    border-right: 0px;
}

.tabs ul li:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #028f68;
    opacity: 0;
    transition: all 0.2s ease;
}

.tabs ul li:hover, .tabs ul li.active {
    background: #e8f5f1;
    color: #028f68;
}

/* ======================== new setting ============================= */

/* body .gallery {
    width: 100%;
    padding: 30px 150px;
} */

.mh-project-gallery .portfolioContainer .grid-item.hide {
    display: none;
}

.mh-project-gallery .portfolioContainer .grid-item.show {
    display: block;
    animation: show .5s ease;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.gallery .pagination {
    width: 100%;
    padding: 15px;
    text-align: center;
}

.gallery .pagination div {
    margin: 0 10px;
    line-height: 10px;
}

.gallery .pagination .page {
    color: gray;
    padding: 5px;
    height: 25px;
    line-height: 15px;
    font-size: 20px;
}

.gallery .pagination .prev, .gallery .pagination .next {
    color: #000;
    border: 1px solid #000;
    font-size: 15px;
    padding: 7px 15px;
    cursor: pointer;
}

.gallery .pagination .prev.disabled, .gallery .pagination .next.disabled {
    border-color: gray;
    color: gray;
    pointer-events: none;
}

.information {
    position: relative;
}

.information .mationImg {
    width: 100%;
    height: 100%;
}

.mationImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text .mytxt {
    font-family: Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 100;
    color: white;
}

.nes {
    display: none;
}

.lates {
    display: none;
}

.even {
    display: none;
}

.newsItem {
    /* border: rgb(0, 0, 0) 1px solid; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.newsItem:hover {
    box-shadow: 10px 9px 22px -2px #242424;
    transition: .3s;
}

.newsItem img {
    background-attachment: fixed;
}

.upNews {
    background-color: #ff3366;
    color: white;
    border-radius: 40px;
    padding: 2px 9px;
    position: absolute;
    bottom: 180px;
    right: 0;
}

@media (max-width: 984px) {
    .upNews {
        padding: 1px 4px;
        bottom: 200px;
    }
}

.renew {
    font-size: 13px;
    font-weight: 600;
    color: #0ac6e4;
    margin-top: 3px;
}

.title {
    font-weight: 900;
}

.newsDate {
    padding: 10px 0 10px 0;
    font-size: 14px;
}

.date {
    font-size: 15px;
}

.fig-caption {
    padding: 5px 7px 5px 7px;
    background-color: #f5f5f5;
}

.portfolio-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.portfolio-nav ul {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.portfolio-nav ul li {
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    padding: 7px 30px;
    line-height: 1px;
}

.mybtn {
    width: 100px;
    height: 50px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #3498db;
    background: none;
    padding: 10px 5px;
    font-size: 20px;
    cursor: pointer;
    color: #3498db;
    transition: .8s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

@media (max-width: 527px) {
    .mybtn {
        cursor: pointer;
        font-size: 10px;
    }
    .portfolio-nav ul li {
        padding: 7px 10px;
    }
}

.mybtn:hover {
    color: #fff;
}

.mybtn::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: .8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.mybtn:hover::before {
    height: 180%;
}

/* loding -------------------------------------------------------*/

.skContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 60px;
    height: 60px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background-color: rgb(105, 226, 180);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/* ======================== footer setting ============================= */

footer {
    background-color: #1b1b1b;
    color: white;
    padding: 2rem 10%;
    /* margin-top: 50px; */
}

.footer-menu__items {
    display: flex;
}

.footer-menu__item {
    line-height: 30px;
    text-align: center;
}

.footer-menu__items div {
    flex-grow: 1;
}

.footer-menu__items a {
    display: block;
    margin: 2rem 0;
    margin-top: 20px;
}

.word a, h6, h3 {
    padding-top: 20px;
}

.copyright {
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer i {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.footer-menu__items a:hover {
    color: chocolate;
}

.IG, .FB {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.IG:hover {
    color: crimson;
}

.FB:hover {
    color: blue;
}

.map {
    float: right;
}

@media only screen and (min-width: 1000px) {
    .footer-menus {
        display: flex;
        /* justify-content: space-evenly; */
    }
    .footer-menu__item {
        flex-grow: 2;
    }
}

@media only screen and (min-width: 700px) and (max-width:1000px) {
    .map {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .divNone {
        display: none;
    }
}

/* ======================== RWD setting ============================= */

@media (max-width:1230px) {
    html {
        font-size: 55%;
    }
    #menu {
        display: block;
    }
    .header-navbar .nav-bar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        text-align: center;
        padding: 2rem;
        z-index: 1000;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }
    .header-navbar .nav-bar a {
        font-size: 2rem;
        padding: 1.5rem;
        display: block;
    }
    .header-navbar .nav-bar.nav-toggle {
        transform: scaleY(1);
        opacity: 1;
    }
    section {
        padding: 1rem 3%;
    }
}

@media (max-width:400px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 2.2rem;
    }
}

/* ============= nest =============== */

.nest-section {
    width: 100%;
    height: 588px;
    display: flex;
    margin-bottom: 70px;
}

.nest-lift {
    background-color: #f1eee7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.nest-item {
    width: 512px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 20px rgb(201, 201, 201);
    padding: 0 120px;
}

.my-item {
    text-align: center;
    margin-bottom: 30px;
}

.my-item h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: -15px;
    margin-bottom: -1px;
}

.nest-text {
    font-size: 1.3rem;
    line-height: 28px;
    text-align: center;
}

.nest-btn {
    width: 228px;
    height: 48px;
    border-radius: 30px;
    font-size: 1.5rem;
    margin-top: 30px;
    color: #7f6c51;
}

.nest-btn:hover {
    background-color: #7f6c51;
    color: white;
    transition: .5s;
}

.nest-btn:focus {
    outline: none;
}

.nest-right {
    width: 50%;
    overflow: hidden;
    background-color: #f1eee7;
    display: flex;
    align-items: center;
}

.nest-right img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width:1024px) {
    .nest-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
    }
    .nest-right {
        display: none;
    }
}

.evaluation {
    width: 100%;
}

.evaluation-inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inneritem {
    width: 285px;
    height: 270px;
}

.item-img {
    width: 255px;
    height: 193px;
    border-radius: 15px;
    overflow: hidden;
}

.item-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 1.5s;
}

.item-img img:hover {
    transform: scale(1.3);
}

.item-title {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* 毛孩ＱＡ ------------------------------*/

.qa-content {
    padding: 1rem 5%;
}

.evaluation2 {
    width: 100%;
}

.evaluation-inner2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inneritem2 {
    width: 349px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-img2 {
    width: 255px;
    height: 193px;
    border-radius: 15px;
    overflow: hidden;
}

.item-img2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 1.5s;
}

.item-img2 img:hover {
    transform: scale(1.3);
}

.item-title2 {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* AJAX部分 */

.containerh1 {
    margin: 1rem 0 1.5rem 0;
}

.containerP {
    margin: 1rem;
    font-size: 1.6rem;
    text-align: left;
}

.current {
    border-bottom: .5rem #3fbb8a solid;
    border-radius: 10px;
}

.inneritem2 a {
    text-decoration: none;
    color: black;
}