@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Noto+Sans+TC:300,400,500,700&display=swap");
/* a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, mark, menu, nav, object, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
} */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

* {
    position: relative
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body, html {
    height: 100%
}

    /* a {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        color: inherit
    } */

img, span {
    display: inline-block;
    vertical-align: middle
}

button {
    border-radius: 0
}

input, textarea {
    padding: initial;
    margin: initial
}

input:focus, textarea:focus {
    outline: none
}

textarea {
    resize: none
}

select {
    background-color: initial
}

body {
    font-family: "Lato", "Noto Sans TC", "Microsoft YaHei", sans-serif
}

@media (max-width:1050px) {
    .dsk {
        display: none!important
    }
}

@media (min-width:1050px) {
    .mbl {
        display: none!important
    }
}

.d-n {
    display: none!important
}

[v-cloak] {
    display: none!important
}

.v-enter, .v-leave-to {
    opacity: 0
}

.v-enter-to, .v-leave {
    opacity: 1
}

.v-enter-active, .v-leave-active {
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s
}

.z-10 {
    z-index: 10
}

.cursor-pointer {
    cursor: pointer
}

.ff-sans-serif {
    font-family: "Lato", "Noto Sans TC", "Microsoft YaHei", sans-serif
}

.fz-12 {
    font-size: 0.75rem
}

.fz-12-vw {
    font-size: calc(12px + 0vw)
}

.fz-12-vh {
    font-size: calc(12px + 0vh)
}

.fz-14 {
    font-size: 0.875rem
}

.fz-14-vw {
    font-size: calc(12px + 0.10417vw)
}

.fz-14-vh {
    font-size: calc(12px + 0.18519vh)
}

.fz-16 {
    font-size: 1rem
}

.fz-16-vw {
    font-size: calc(12px + 0.20833vw)
}

.fz-16-vh {
    font-size: calc(12px + 0.37037vh)
}

.fz-18 {
    font-size: 1.125rem
}

.fz-18-vw {
    font-size: calc(12px + 0.3125vw)
}

.fz-18-vh {
    font-size: calc(12px + 0.55556vh)
}

.fz-20 {
    font-size: 1.25rem
}

.fz-20-vw {
    font-size: calc(12px + 0.41667vw)
}

.fz-20-vh {
    font-size: calc(12px + 0.74074vh)
}

.fz-22 {
    font-size: 1.375rem
}

.fz-22-vw {
    font-size: calc(12px + 0.52083vw)
}

.fz-22-vh {
    font-size: calc(12px + 0.92593vh)
}

.fz-24 {
    font-size: 1.5rem
}

.fz-24-vw {
    font-size: calc(12px + 0.625vw)
}

.fz-24-vh {
    font-size: calc(12px + 1.11111vh)
}

.fz-26 {
    font-size: 1.625rem
}

.fz-26-vw {
    font-size: calc(12px + 0.72917vw)
}

.fz-26-vh {
    font-size: calc(12px + 1.2963vh)
}

.fz-28 {
    font-size: 1.75rem
}

.fz-28-vw {
    font-size: calc(12px + 0.83333vw)
}

.fz-28-vh {
    font-size: calc(12px + 1.48148vh)
}

.fz-30 {
    font-size: 1.875rem
}

.fz-30-vw {
    font-size: calc(12px + 0.9375vw)
}

.fz-30-vh {
    font-size: calc(12px + 1.66667vh)
}

.fz-32 {
    font-size: 2rem
}

.fz-32-vw {
    font-size: calc(12px + 1.04167vw)
}

.fz-32-vh {
    font-size: calc(12px + 1.85185vh)
}

.fz-34 {
    font-size: 2.125rem
}

.fz-34-vw {
    font-size: calc(12px + 1.14583vw)
}

.fz-34-vh {
    font-size: calc(12px + 2.03704vh)
}

.fz-36 {
    font-size: 2.25rem
}

.fz-36-vw {
    font-size: calc(12px + 1.25vw)
}

.fz-36-vh {
    font-size: calc(12px + 2.22222vh)
}

.fz-38 {
    font-size: 2.375rem
}

.fz-38-vw {
    font-size: calc(12px + 1.35417vw)
}

.fz-38-vh {
    font-size: calc(12px + 2.40741vh)
}

.fz-40 {
    font-size: 2.5rem
}

.fz-40-vw {
    font-size: calc(12px + 1.45833vw)
}

.fz-40-vh {
    font-size: calc(12px + 2.59259vh)
}

.fz-42 {
    font-size: 2.625rem
}

.fz-42-vw {
    font-size: calc(12px + 1.5625vw)
}

.fz-42-vh {
    font-size: calc(12px + 2.77778vh)
}

.fz-44 {
    font-size: 2.75rem
}

.fz-44-vw {
    font-size: calc(12px + 1.66667vw)
}

.fz-44-vh {
    font-size: calc(12px + 2.96296vh)
}

.fz-46 {
    font-size: 2.875rem
}

.fz-46-vw {
    font-size: calc(12px + 1.77083vw)
}

.fz-46-vh {
    font-size: calc(12px + 3.14815vh)
}

.fz-48 {
    font-size: 3rem
}

.fz-48-vw {
    font-size: calc(12px + 1.875vw)
}

.fz-48-vh {
    font-size: calc(12px + 3.33333vh)
}

.fz-50 {
    font-size: 3.125rem
}

.fz-50-vw {
    font-size: calc(12px + 1.97917vw)
}

.fz-50-vh {
    font-size: calc(12px + 3.51852vh)
}

.fz-52 {
    font-size: 3.25rem
}

.fz-52-vw {
    font-size: calc(12px + 2.08333vw)
}

.fz-52-vh {
    font-size: calc(12px + 3.7037vh)
}

.fz-54 {
    font-size: 3.375rem
}

.fz-54-vw {
    font-size: calc(12px + 2.1875vw)
}

.fz-54-vh {
    font-size: calc(12px + 3.88889vh)
}

.fz-56 {
    font-size: 3.5rem
}

.fz-56-vw {
    font-size: calc(12px + 2.29167vw)
}

.fz-56-vh {
    font-size: calc(12px + 4.07407vh)
}

.fz-58 {
    font-size: 3.625rem
}

.fz-58-vw {
    font-size: calc(12px + 2.39583vw)
}

.fz-58-vh {
    font-size: calc(12px + 4.25926vh)
}

.fz-60 {
    font-size: 3.75rem
}

.fz-60-vw {
    font-size: calc(12px + 2.5vw)
}

.fz-60-vh {
    font-size: calc(12px + 4.44444vh)
}

.fz-62 {
    font-size: 3.875rem
}

.fz-62-vw {
    font-size: calc(12px + 2.60417vw)
}

.fz-62-vh {
    font-size: calc(12px + 4.62963vh)
}

.fz-64 {
    font-size: 4rem
}

.fz-64-vw {
    font-size: calc(12px + 2.70833vw)
}

.fz-64-vh {
    font-size: calc(12px + 4.81481vh)
}

.fz-66 {
    font-size: 4.125rem
}

.fz-66-vw {
    font-size: calc(12px + 2.8125vw)
}

.fz-66-vh {
    font-size: calc(12px + 5vh)
}

.fz-68 {
    font-size: 4.25rem
}

.fz-68-vw {
    font-size: calc(12px + 2.91667vw)
}

.fz-68-vh {
    font-size: calc(12px + 5.18519vh)
}

.fz-70 {
    font-size: 4.375rem
}

.fz-70-vw {
    font-size: calc(12px + 3.02083vw)
}

.fz-70-vh {
    font-size: calc(12px + 5.37037vh)
}

.fz-72 {
    font-size: 4.5rem
}

.fz-72-vw {
    font-size: calc(12px + 3.125vw)
}

.fz-72-vh {
    font-size: calc(12px + 5.55556vh)
}

.fz-74 {
    font-size: 4.625rem
}

.fz-74-vw {
    font-size: calc(12px + 3.22917vw)
}

.fz-74-vh {
    font-size: calc(12px + 5.74074vh)
}

.fz-76 {
    font-size: 4.75rem
}

.fz-76-vw {
    font-size: calc(12px + 3.33333vw)
}

.fz-76-vh {
    font-size: calc(12px + 5.92593vh)
}

.fz-78 {
    font-size: 4.875rem
}

.fz-78-vw {
    font-size: calc(12px + 3.4375vw)
}

.fz-78-vh {
    font-size: calc(12px + 6.11111vh)
}

.fz-80 {
    font-size: 5rem
}

.fz-80-vw {
    font-size: calc(12px + 3.54167vw)
}

.fz-80-vh {
    font-size: calc(12px + 6.2963vh)
}

.fz-82 {
    font-size: 5.125rem
}

.fz-82-vw {
    font-size: calc(12px + 3.64583vw)
}

.fz-82-vh {
    font-size: calc(12px + 6.48148vh)
}

.fz-84 {
    font-size: 5.25rem
}

.fz-84-vw {
    font-size: calc(12px + 3.75vw)
}

.fz-84-vh {
    font-size: calc(12px + 6.66667vh)
}

.fz-86 {
    font-size: 5.375rem
}

.fz-86-vw {
    font-size: calc(12px + 3.85417vw)
}

.fz-86-vh {
    font-size: calc(12px + 6.85185vh)
}

.fz-88 {
    font-size: 5.5rem
}

.fz-88-vw {
    font-size: calc(12px + 3.95833vw)
}

.fz-88-vh {
    font-size: calc(12px + 7.03704vh)
}

.fz-90 {
    font-size: 5.625rem
}

.fz-90-vw {
    font-size: calc(12px + 4.0625vw)
}

.fz-90-vh {
    font-size: calc(12px + 7.22222vh)
}

.fz-92 {
    font-size: 5.75rem
}

.fz-92-vw {
    font-size: calc(12px + 4.16667vw)
}

.fz-92-vh {
    font-size: calc(12px + 7.40741vh)
}

.fz-94 {
    font-size: 5.875rem
}

.fz-94-vw {
    font-size: calc(12px + 4.27083vw)
}

.fz-94-vh {
    font-size: calc(12px + 7.59259vh)
}

.fz-96 {
    font-size: 6rem
}

.fz-96-vw {
    font-size: calc(12px + 4.375vw)
}

.fz-96-vh {
    font-size: calc(12px + 7.77778vh)
}

.fz-98 {
    font-size: 6.125rem
}

.fz-98-vw {
    font-size: calc(12px + 4.47917vw)
}

.fz-98-vh {
    font-size: calc(12px + 7.96296vh)
}

.fz-100 {
    font-size: 6.25rem
}

.fz-100-vw {
    font-size: calc(12px + 4.58333vw)
}

.fz-100-vh {
    font-size: calc(12px + 8.14815vh)
}

.fz-102 {
    font-size: 6.375rem
}

.fz-102-vw {
    font-size: calc(12px + 4.6875vw)
}

.fz-102-vh {
    font-size: calc(12px + 8.33333vh)
}

.fz-104 {
    font-size: 6.5rem
}

.fz-104-vw {
    font-size: calc(12px + 4.79167vw)
}

.fz-104-vh {
    font-size: calc(12px + 8.51852vh)
}

.fz-106 {
    font-size: 6.625rem
}

.fz-106-vw {
    font-size: calc(12px + 4.89583vw)
}

.fz-106-vh {
    font-size: calc(12px + 8.7037vh)
}

.fz-108 {
    font-size: 6.75rem
}

.fz-108-vw {
    font-size: calc(12px + 5vw)
}

.fz-108-vh {
    font-size: calc(12px + 8.88889vh)
}

.fz-110 {
    font-size: 6.875rem
}

.fz-110-vw {
    font-size: calc(12px + 5.10417vw)
}

.fz-110-vh {
    font-size: calc(12px + 9.07407vh)
}

.fz-112 {
    font-size: 7rem
}

.fz-112-vw {
    font-size: calc(12px + 5.20833vw)
}

.fz-112-vh {
    font-size: calc(12px + 9.25926vh)
}

.fz-114 {
    font-size: 7.125rem
}

.fz-114-vw {
    font-size: calc(12px + 5.3125vw)
}

.fz-114-vh {
    font-size: calc(12px + 9.44444vh)
}

.fz-116 {
    font-size: 7.25rem
}

.fz-116-vw {
    font-size: calc(12px + 5.41667vw)
}

.fz-116-vh {
    font-size: calc(12px + 9.62963vh)
}

.fz-118 {
    font-size: 7.375rem
}

.fz-118-vw {
    font-size: calc(12px + 5.52083vw)
}

.fz-118-vh {
    font-size: calc(12px + 9.81481vh)
}

.fz-120 {
    font-size: 7.5rem
}

.fz-120-vw {
    font-size: calc(12px + 5.625vw)
}

.fz-120-vh {
    font-size: calc(12px + 10vh)
}

.fz-122 {
    font-size: 7.625rem
}

.fz-122-vw {
    font-size: calc(12px + 5.72917vw)
}

.fz-122-vh {
    font-size: calc(12px + 10.18519vh)
}

.fz-124 {
    font-size: 7.75rem
}

.fz-124-vw {
    font-size: calc(12px + 5.83333vw)
}

.fz-124-vh {
    font-size: calc(12px + 10.37037vh)
}

.fz-126 {
    font-size: 7.875rem
}

.fz-126-vw {
    font-size: calc(12px + 5.9375vw)
}

.fz-126-vh {
    font-size: calc(12px + 10.55556vh)
}

.fz-128 {
    font-size: 8rem
}

.fz-128-vw {
    font-size: calc(12px + 6.04167vw)
}

.fz-128-vh {
    font-size: calc(12px + 10.74074vh)
}

.fz-130 {
    font-size: 8.125rem
}

.fz-130-vw {
    font-size: calc(12px + 6.14583vw)
}

.fz-130-vh {
    font-size: calc(12px + 10.92593vh)
}

.fz-132 {
    font-size: 8.25rem
}

.fz-132-vw {
    font-size: calc(12px + 6.25vw)
}

.fz-132-vh {
    font-size: calc(12px + 11.11111vh)
}

.fz-134 {
    font-size: 8.375rem
}

.fz-134-vw {
    font-size: calc(12px + 6.35417vw)
}

.fz-134-vh {
    font-size: calc(12px + 11.2963vh)
}

.fz-136 {
    font-size: 8.5rem
}

.fz-136-vw {
    font-size: calc(12px + 6.45833vw)
}

.fz-136-vh {
    font-size: calc(12px + 11.48148vh)
}

.fz-138 {
    font-size: 8.625rem
}

.fz-138-vw {
    font-size: calc(12px + 6.5625vw)
}

.fz-138-vh {
    font-size: calc(12px + 11.66667vh)
}

.fz-140 {
    font-size: 8.75rem
}

.fz-140-vw {
    font-size: calc(12px + 6.66667vw)
}

.fz-140-vh {
    font-size: calc(12px + 11.85185vh)
}

.fz-142 {
    font-size: 8.875rem
}

.fz-142-vw {
    font-size: calc(12px + 6.77083vw)
}

.fz-142-vh {
    font-size: calc(12px + 12.03704vh)
}

.fz-144 {
    font-size: 9rem
}

.fz-144-vw {
    font-size: calc(12px + 6.875vw)
}

.fz-144-vh {
    font-size: calc(12px + 12.22222vh)
}

.fz-146 {
    font-size: 9.125rem
}

.fz-146-vw {
    font-size: calc(12px + 6.97917vw)
}

.fz-146-vh {
    font-size: calc(12px + 12.40741vh)
}

.fz-148 {
    font-size: 9.25rem
}

.fz-148-vw {
    font-size: calc(12px + 7.08333vw)
}

.fz-148-vh {
    font-size: calc(12px + 12.59259vh)
}

.fz-150 {
    font-size: 9.375rem
}

.fz-150-vw {
    font-size: calc(12px + 7.1875vw)
}

.fz-150-vh {
    font-size: calc(12px + 12.77778vh)
}

.fz-152 {
    font-size: 9.5rem
}

.fz-152-vw {
    font-size: calc(12px + 7.29167vw)
}

.fz-152-vh {
    font-size: calc(12px + 12.96296vh)
}

.fz-154 {
    font-size: 9.625rem
}

.fz-154-vw {
    font-size: calc(12px + 7.39583vw)
}

.fz-154-vh {
    font-size: calc(12px + 13.14815vh)
}

.fz-156 {
    font-size: 9.75rem
}

.fz-156-vw {
    font-size: calc(12px + 7.5vw)
}

.fz-156-vh {
    font-size: calc(12px + 13.33333vh)
}

.fz-158 {
    font-size: 9.875rem
}

.fz-158-vw {
    font-size: calc(12px + 7.60417vw)
}

.fz-158-vh {
    font-size: calc(12px + 13.51852vh)
}

.fz-160 {
    font-size: 10rem
}

.fz-160-vw {
    font-size: calc(12px + 7.70833vw)
}

.fz-160-vh {
    font-size: calc(12px + 13.7037vh)
}

.fz-162 {
    font-size: 10.125rem
}

.fz-162-vw {
    font-size: calc(12px + 7.8125vw)
}

.fz-162-vh {
    font-size: calc(12px + 13.88889vh)
}

.fz-164 {
    font-size: 10.25rem
}

.fz-164-vw {
    font-size: calc(12px + 7.91667vw)
}

.fz-164-vh {
    font-size: calc(12px + 14.07407vh)
}

.fz-166 {
    font-size: 10.375rem
}

.fz-166-vw {
    font-size: calc(12px + 8.02083vw)
}

.fz-166-vh {
    font-size: calc(12px + 14.25926vh)
}

.fz-168 {
    font-size: 10.5rem
}

.fz-168-vw {
    font-size: calc(12px + 8.125vw)
}

.fz-168-vh {
    font-size: calc(12px + 14.44444vh)
}

.fz-170 {
    font-size: 10.625rem
}

.fz-170-vw {
    font-size: calc(12px + 8.22917vw)
}

.fz-170-vh {
    font-size: calc(12px + 14.62963vh)
}

.fz-172 {
    font-size: 10.75rem
}

.fz-172-vw {
    font-size: calc(12px + 8.33333vw)
}

.fz-172-vh {
    font-size: calc(12px + 14.81481vh)
}

.fz-174 {
    font-size: 10.875rem
}

.fz-174-vw {
    font-size: calc(12px + 8.4375vw)
}

.fz-174-vh {
    font-size: calc(12px + 15vh)
}

.fz-176 {
    font-size: 11rem
}

.fz-176-vw {
    font-size: calc(12px + 8.54167vw)
}

.fz-176-vh {
    font-size: calc(12px + 15.18519vh)
}

.fz-178 {
    font-size: 11.125rem
}

.fz-178-vw {
    font-size: calc(12px + 8.64583vw)
}

.fz-178-vh {
    font-size: calc(12px + 15.37037vh)
}

.fz-180 {
    font-size: 11.25rem
}

.fz-180-vw {
    font-size: calc(12px + 8.75vw)
}

.fz-180-vh {
    font-size: calc(12px + 15.55556vh)
}

.fz-182 {
    font-size: 11.375rem
}

.fz-182-vw {
    font-size: calc(12px + 8.85417vw)
}

.fz-182-vh {
    font-size: calc(12px + 15.74074vh)
}

.fz-184 {
    font-size: 11.5rem
}

.fz-184-vw {
    font-size: calc(12px + 8.95833vw)
}

.fz-184-vh {
    font-size: calc(12px + 15.92593vh)
}

.fz-186 {
    font-size: 11.625rem
}

.fz-186-vw {
    font-size: calc(12px + 9.0625vw)
}

.fz-186-vh {
    font-size: calc(12px + 16.11111vh)
}

.fz-188 {
    font-size: 11.75rem
}

.fz-188-vw {
    font-size: calc(12px + 9.16667vw)
}

.fz-188-vh {
    font-size: calc(12px + 16.2963vh)
}

.fz-190 {
    font-size: 11.875rem
}

.fz-190-vw {
    font-size: calc(12px + 9.27083vw)
}

.fz-190-vh {
    font-size: calc(12px + 16.48148vh)
}

.fz-192 {
    font-size: 12rem
}

.fz-192-vw {
    font-size: calc(12px + 9.375vw)
}

.fz-192-vh {
    font-size: calc(12px + 16.66667vh)
}

@media (max-width:1050px) {
    .fz-mbl-12 {
        font-size: 0.75rem
    }
    .fz-mbl-12-vw {
        font-size: 3.75vw
    }
    .fz-mbl-12-vh {
        font-size: 2.11268vh
    }
    .fz-mbl-14 {
        font-size: 0.875rem
    }
    .fz-mbl-14-vw {
        font-size: 4.375vw
    }
    .fz-mbl-14-vh {
        font-size: 2.46479vh
    }
    .fz-mbl-16 {
        font-size: 1rem
    }
    .fz-mbl-16-vw {
        font-size: 5vw
    }
    .fz-mbl-16-vh {
        font-size: 2.8169vh
    }
    .fz-mbl-18 {
        font-size: 1.125rem
    }
    .fz-mbl-18-vw {
        font-size: 5.625vw
    }
    .fz-mbl-18-vh {
        font-size: 3.16901vh
    }
    .fz-mbl-20 {
        font-size: 1.25rem
    }
    .fz-mbl-20-vw {
        font-size: 6.25vw
    }
    .fz-mbl-20-vh {
        font-size: 3.52113vh
    }
    .fz-mbl-22 {
        font-size: 1.375rem
    }
    .fz-mbl-22-vw {
        font-size: 6.875vw
    }
    .fz-mbl-22-vh {
        font-size: 3.87324vh
    }
    .fz-mbl-24 {
        font-size: 1.5rem
    }
    .fz-mbl-24-vw {
        font-size: 7.5vw
    }
    .fz-mbl-24-vh {
        font-size: 4.22535vh
    }
    .fz-mbl-26 {
        font-size: 1.625rem
    }
    .fz-mbl-26-vw {
        font-size: 8.125vw
    }
    .fz-mbl-26-vh {
        font-size: 4.57746vh
    }
    .fz-mbl-28 {
        font-size: 1.75rem
    }
    .fz-mbl-28-vw {
        font-size: 8.75vw
    }
    .fz-mbl-28-vh {
        font-size: 4.92958vh
    }
    .fz-mbl-30 {
        font-size: 1.875rem
    }
    .fz-mbl-30-vw {
        font-size: 9.375vw
    }
    .fz-mbl-30-vh {
        font-size: 5.28169vh
    }
    .fz-mbl-32 {
        font-size: 2rem
    }
    .fz-mbl-32-vw {
        font-size: 10vw
    }
    .fz-mbl-32-vh {
        font-size: 5.6338vh
    }
    .fz-mbl-34 {
        font-size: 2.125rem
    }
    .fz-mbl-34-vw {
        font-size: 10.625vw
    }
    .fz-mbl-34-vh {
        font-size: 5.98592vh
    }
    .fz-mbl-36 {
        font-size: 2.25rem
    }
    .fz-mbl-36-vw {
        font-size: 11.25vw
    }
    .fz-mbl-36-vh {
        font-size: 6.33803vh
    }
    .fz-mbl-38 {
        font-size: 2.375rem
    }
    .fz-mbl-38-vw {
        font-size: 11.875vw
    }
    .fz-mbl-38-vh {
        font-size: 6.69014vh
    }
    .fz-mbl-40 {
        font-size: 2.5rem
    }
    .fz-mbl-40-vw {
        font-size: 12.5vw
    }
    .fz-mbl-40-vh {
        font-size: 7.04225vh
    }
    .fz-mbl-42 {
        font-size: 2.625rem
    }
    .fz-mbl-42-vw {
        font-size: 13.125vw
    }
    .fz-mbl-42-vh {
        font-size: 7.39437vh
    }
    .fz-mbl-44 {
        font-size: 2.75rem
    }
    .fz-mbl-44-vw {
        font-size: 13.75vw
    }
    .fz-mbl-44-vh {
        font-size: 7.74648vh
    }
    .fz-mbl-46 {
        font-size: 2.875rem
    }
    .fz-mbl-46-vw {
        font-size: 14.375vw
    }
    .fz-mbl-46-vh {
        font-size: 8.09859vh
    }
    .fz-mbl-48 {
        font-size: 3rem
    }
    .fz-mbl-48-vw {
        font-size: 15vw
    }
    .fz-mbl-48-vh {
        font-size: 8.4507vh
    }
    .fz-mbl-50 {
        font-size: 3.125rem
    }
    .fz-mbl-50-vw {
        font-size: 15.625vw
    }
    .fz-mbl-50-vh {
        font-size: 8.80282vh
    }
    .fz-mbl-52 {
        font-size: 3.25rem
    }
    .fz-mbl-52-vw {
        font-size: 16.25vw
    }
    .fz-mbl-52-vh {
        font-size: 9.15493vh
    }
    .fz-mbl-54 {
        font-size: 3.375rem
    }
    .fz-mbl-54-vw {
        font-size: 16.875vw
    }
    .fz-mbl-54-vh {
        font-size: 9.50704vh
    }
    .fz-mbl-56 {
        font-size: 3.5rem
    }
    .fz-mbl-56-vw {
        font-size: 17.5vw
    }
    .fz-mbl-56-vh {
        font-size: 9.85915vh
    }
    .fz-mbl-58 {
        font-size: 3.625rem
    }
    .fz-mbl-58-vw {
        font-size: 18.125vw
    }
    .fz-mbl-58-vh {
        font-size: 10.21127vh
    }
    .fz-mbl-60 {
        font-size: 3.75rem
    }
    .fz-mbl-60-vw {
        font-size: 18.75vw
    }
    .fz-mbl-60-vh {
        font-size: 10.56338vh
    }
    .fz-mbl-62 {
        font-size: 3.875rem
    }
    .fz-mbl-62-vw {
        font-size: 19.375vw
    }
    .fz-mbl-62-vh {
        font-size: 10.91549vh
    }
    .fz-mbl-64 {
        font-size: 4rem
    }
    .fz-mbl-64-vw {
        font-size: 20vw
    }
    .fz-mbl-64-vh {
        font-size: 11.26761vh
    }
    .fz-mbl-66 {
        font-size: 4.125rem
    }
    .fz-mbl-66-vw {
        font-size: 20.625vw
    }
    .fz-mbl-66-vh {
        font-size: 11.61972vh
    }
    .fz-mbl-68 {
        font-size: 4.25rem
    }
    .fz-mbl-68-vw {
        font-size: 21.25vw
    }
    .fz-mbl-68-vh {
        font-size: 11.97183vh
    }
    .fz-mbl-70 {
        font-size: 4.375rem
    }
    .fz-mbl-70-vw {
        font-size: 21.875vw
    }
    .fz-mbl-70-vh {
        font-size: 12.32394vh
    }
    .fz-mbl-72 {
        font-size: 4.5rem
    }
    .fz-mbl-72-vw {
        font-size: 22.5vw
    }
    .fz-mbl-72-vh {
        font-size: 12.67606vh
    }
    .fz-mbl-74 {
        font-size: 4.625rem
    }
    .fz-mbl-74-vw {
        font-size: 23.125vw
    }
    .fz-mbl-74-vh {
        font-size: 13.02817vh
    }
    .fz-mbl-76 {
        font-size: 4.75rem
    }
    .fz-mbl-76-vw {
        font-size: 23.75vw
    }
    .fz-mbl-76-vh {
        font-size: 13.38028vh
    }
    .fz-mbl-78 {
        font-size: 4.875rem
    }
    .fz-mbl-78-vw {
        font-size: 24.375vw
    }
    .fz-mbl-78-vh {
        font-size: 13.73239vh
    }
    .fz-mbl-80 {
        font-size: 5rem
    }
    .fz-mbl-80-vw {
        font-size: 25vw
    }
    .fz-mbl-80-vh {
        font-size: 14.08451vh
    }
    .fz-mbl-82 {
        font-size: 5.125rem
    }
    .fz-mbl-82-vw {
        font-size: 25.625vw
    }
    .fz-mbl-82-vh {
        font-size: 14.43662vh
    }
    .fz-mbl-84 {
        font-size: 5.25rem
    }
    .fz-mbl-84-vw {
        font-size: 26.25vw
    }
    .fz-mbl-84-vh {
        font-size: 14.78873vh
    }
    .fz-mbl-86 {
        font-size: 5.375rem
    }
    .fz-mbl-86-vw {
        font-size: 26.875vw
    }
    .fz-mbl-86-vh {
        font-size: 15.14085vh
    }
    .fz-mbl-88 {
        font-size: 5.5rem
    }
    .fz-mbl-88-vw {
        font-size: 27.5vw
    }
    .fz-mbl-88-vh {
        font-size: 15.49296vh
    }
    .fz-mbl-90 {
        font-size: 5.625rem
    }
    .fz-mbl-90-vw {
        font-size: 28.125vw
    }
    .fz-mbl-90-vh {
        font-size: 15.84507vh
    }
    .fz-mbl-92 {
        font-size: 5.75rem
    }
    .fz-mbl-92-vw {
        font-size: 28.75vw
    }
    .fz-mbl-92-vh {
        font-size: 16.19718vh
    }
    .fz-mbl-94 {
        font-size: 5.875rem
    }
    .fz-mbl-94-vw {
        font-size: 29.375vw
    }
    .fz-mbl-94-vh {
        font-size: 16.5493vh
    }
    .fz-mbl-96 {
        font-size: 6rem
    }
    .fz-mbl-96-vw {
        font-size: 30vw
    }
    .fz-mbl-96-vh {
        font-size: 16.90141vh
    }
    .fz-mbl-98 {
        font-size: 6.125rem
    }
    .fz-mbl-98-vw {
        font-size: 30.625vw
    }
    .fz-mbl-98-vh {
        font-size: 17.25352vh
    }
    .fz-mbl-100 {
        font-size: 6.25rem
    }
    .fz-mbl-100-vw {
        font-size: 31.25vw
    }
    .fz-mbl-100-vh {
        font-size: 17.60563vh
    }
    .fz-mbl-102 {
        font-size: 6.375rem
    }
    .fz-mbl-102-vw {
        font-size: 31.875vw
    }
    .fz-mbl-102-vh {
        font-size: 17.95775vh
    }
    .fz-mbl-104 {
        font-size: 6.5rem
    }
    .fz-mbl-104-vw {
        font-size: 32.5vw
    }
    .fz-mbl-104-vh {
        font-size: 18.30986vh
    }
    .fz-mbl-106 {
        font-size: 6.625rem
    }
    .fz-mbl-106-vw {
        font-size: 33.125vw
    }
    .fz-mbl-106-vh {
        font-size: 18.66197vh
    }
    .fz-mbl-108 {
        font-size: 6.75rem
    }
    .fz-mbl-108-vw {
        font-size: 33.75vw
    }
    .fz-mbl-108-vh {
        font-size: 19.01408vh
    }
    .fz-mbl-110 {
        font-size: 6.875rem
    }
    .fz-mbl-110-vw {
        font-size: 34.375vw
    }
    .fz-mbl-110-vh {
        font-size: 19.3662vh
    }
    .fz-mbl-112 {
        font-size: 7rem
    }
    .fz-mbl-112-vw {
        font-size: 35vw
    }
    .fz-mbl-112-vh {
        font-size: 19.71831vh
    }
    .fz-mbl-114 {
        font-size: 7.125rem
    }
    .fz-mbl-114-vw {
        font-size: 35.625vw
    }
    .fz-mbl-114-vh {
        font-size: 20.07042vh
    }
    .fz-mbl-116 {
        font-size: 7.25rem
    }
    .fz-mbl-116-vw {
        font-size: 36.25vw
    }
    .fz-mbl-116-vh {
        font-size: 20.42254vh
    }
    .fz-mbl-118 {
        font-size: 7.375rem
    }
    .fz-mbl-118-vw {
        font-size: 36.875vw
    }
    .fz-mbl-118-vh {
        font-size: 20.77465vh
    }
    .fz-mbl-120 {
        font-size: 7.5rem
    }
    .fz-mbl-120-vw {
        font-size: 37.5vw
    }
    .fz-mbl-120-vh {
        font-size: 21.12676vh
    }
    .fz-mbl-122 {
        font-size: 7.625rem
    }
    .fz-mbl-122-vw {
        font-size: 38.125vw
    }
    .fz-mbl-122-vh {
        font-size: 21.47887vh
    }
    .fz-mbl-124 {
        font-size: 7.75rem
    }
    .fz-mbl-124-vw {
        font-size: 38.75vw
    }
    .fz-mbl-124-vh {
        font-size: 21.83099vh
    }
    .fz-mbl-126 {
        font-size: 7.875rem
    }
    .fz-mbl-126-vw {
        font-size: 39.375vw
    }
    .fz-mbl-126-vh {
        font-size: 22.1831vh
    }
    .fz-mbl-128 {
        font-size: 8rem
    }
    .fz-mbl-128-vw {
        font-size: 40vw
    }
    .fz-mbl-128-vh {
        font-size: 22.53521vh
    }
    .fz-mbl-130 {
        font-size: 8.125rem
    }
    .fz-mbl-130-vw {
        font-size: 40.625vw
    }
    .fz-mbl-130-vh {
        font-size: 22.88732vh
    }
    .fz-mbl-132 {
        font-size: 8.25rem
    }
    .fz-mbl-132-vw {
        font-size: 41.25vw
    }
    .fz-mbl-132-vh {
        font-size: 23.23944vh
    }
    .fz-mbl-134 {
        font-size: 8.375rem
    }
    .fz-mbl-134-vw {
        font-size: 41.875vw
    }
    .fz-mbl-134-vh {
        font-size: 23.59155vh
    }
    .fz-mbl-136 {
        font-size: 8.5rem
    }
    .fz-mbl-136-vw {
        font-size: 42.5vw
    }
    .fz-mbl-136-vh {
        font-size: 23.94366vh
    }
    .fz-mbl-138 {
        font-size: 8.625rem
    }
    .fz-mbl-138-vw {
        font-size: 43.125vw
    }
    .fz-mbl-138-vh {
        font-size: 24.29577vh
    }
    .fz-mbl-140 {
        font-size: 8.75rem
    }
    .fz-mbl-140-vw {
        font-size: 43.75vw
    }
    .fz-mbl-140-vh {
        font-size: 24.64789vh
    }
    .fz-mbl-142 {
        font-size: 8.875rem
    }
    .fz-mbl-142-vw {
        font-size: 44.375vw
    }
    .fz-mbl-142-vh {
        font-size: 25vh
    }
    .fz-mbl-144 {
        font-size: 9rem
    }
    .fz-mbl-144-vw {
        font-size: 45vw
    }
    .fz-mbl-144-vh {
        font-size: 25.35211vh
    }
    .fz-mbl-146 {
        font-size: 9.125rem
    }
    .fz-mbl-146-vw {
        font-size: 45.625vw
    }
    .fz-mbl-146-vh {
        font-size: 25.70423vh
    }
    .fz-mbl-148 {
        font-size: 9.25rem
    }
    .fz-mbl-148-vw {
        font-size: 46.25vw
    }
    .fz-mbl-148-vh {
        font-size: 26.05634vh
    }
    .fz-mbl-150 {
        font-size: 9.375rem
    }
    .fz-mbl-150-vw {
        font-size: 46.875vw
    }
    .fz-mbl-150-vh {
        font-size: 26.40845vh
    }
    .fz-mbl-152 {
        font-size: 9.5rem
    }
    .fz-mbl-152-vw {
        font-size: 47.5vw
    }
    .fz-mbl-152-vh {
        font-size: 26.76056vh
    }
    .fz-mbl-154 {
        font-size: 9.625rem
    }
    .fz-mbl-154-vw {
        font-size: 48.125vw
    }
    .fz-mbl-154-vh {
        font-size: 27.11268vh
    }
    .fz-mbl-156 {
        font-size: 9.75rem
    }
    .fz-mbl-156-vw {
        font-size: 48.75vw
    }
    .fz-mbl-156-vh {
        font-size: 27.46479vh
    }
    .fz-mbl-158 {
        font-size: 9.875rem
    }
    .fz-mbl-158-vw {
        font-size: 49.375vw
    }
    .fz-mbl-158-vh {
        font-size: 27.8169vh
    }
    .fz-mbl-160 {
        font-size: 10rem
    }
    .fz-mbl-160-vw {
        font-size: 50vw
    }
    .fz-mbl-160-vh {
        font-size: 28.16901vh
    }
    .fz-mbl-162 {
        font-size: 10.125rem
    }
    .fz-mbl-162-vw {
        font-size: 50.625vw
    }
    .fz-mbl-162-vh {
        font-size: 28.52113vh
    }
    .fz-mbl-164 {
        font-size: 10.25rem
    }
    .fz-mbl-164-vw {
        font-size: 51.25vw
    }
    .fz-mbl-164-vh {
        font-size: 28.87324vh
    }
    .fz-mbl-166 {
        font-size: 10.375rem
    }
    .fz-mbl-166-vw {
        font-size: 51.875vw
    }
    .fz-mbl-166-vh {
        font-size: 29.22535vh
    }
    .fz-mbl-168 {
        font-size: 10.5rem
    }
    .fz-mbl-168-vw {
        font-size: 52.5vw
    }
    .fz-mbl-168-vh {
        font-size: 29.57746vh
    }
    .fz-mbl-170 {
        font-size: 10.625rem
    }
    .fz-mbl-170-vw {
        font-size: 53.125vw
    }
    .fz-mbl-170-vh {
        font-size: 29.92958vh
    }
    .fz-mbl-172 {
        font-size: 10.75rem
    }
    .fz-mbl-172-vw {
        font-size: 53.75vw
    }
    .fz-mbl-172-vh {
        font-size: 30.28169vh
    }
    .fz-mbl-174 {
        font-size: 10.875rem
    }
    .fz-mbl-174-vw {
        font-size: 54.375vw
    }
    .fz-mbl-174-vh {
        font-size: 30.6338vh
    }
    .fz-mbl-176 {
        font-size: 11rem
    }
    .fz-mbl-176-vw {
        font-size: 55vw
    }
    .fz-mbl-176-vh {
        font-size: 30.98592vh
    }
    .fz-mbl-178 {
        font-size: 11.125rem
    }
    .fz-mbl-178-vw {
        font-size: 55.625vw
    }
    .fz-mbl-178-vh {
        font-size: 31.33803vh
    }
    .fz-mbl-180 {
        font-size: 11.25rem
    }
    .fz-mbl-180-vw {
        font-size: 56.25vw
    }
    .fz-mbl-180-vh {
        font-size: 31.69014vh
    }
    .fz-mbl-182 {
        font-size: 11.375rem
    }
    .fz-mbl-182-vw {
        font-size: 56.875vw
    }
    .fz-mbl-182-vh {
        font-size: 32.04225vh
    }
    .fz-mbl-184 {
        font-size: 11.5rem
    }
    .fz-mbl-184-vw {
        font-size: 57.5vw
    }
    .fz-mbl-184-vh {
        font-size: 32.39437vh
    }
    .fz-mbl-186 {
        font-size: 11.625rem
    }
    .fz-mbl-186-vw {
        font-size: 58.125vw
    }
    .fz-mbl-186-vh {
        font-size: 32.74648vh
    }
    .fz-mbl-188 {
        font-size: 11.75rem
    }
    .fz-mbl-188-vw {
        font-size: 58.75vw
    }
    .fz-mbl-188-vh {
        font-size: 33.09859vh
    }
    .fz-mbl-190 {
        font-size: 11.875rem
    }
    .fz-mbl-190-vw {
        font-size: 59.375vw
    }
    .fz-mbl-190-vh {
        font-size: 33.4507vh
    }
    .fz-mbl-192 {
        font-size: 12rem
    }
    .fz-mbl-192-vw {
        font-size: 60vw
    }
    .fz-mbl-192-vh {
        font-size: 33.80282vh
    }
}

.fw-300 {
    font-weight: 300
}

.fw-500 {
    font-weight: 500
}

.fw-700 {
    font-weight: 700
}

.fw-900 {
    font-weight: 900
}

.ws-nowrap {
    white-space: nowrap
}

.ta-justify {
    text-align: justify
}

.ta-center {
    text-align: center
}

.lh-00 {
    line-height: 0
}

.lh-01 {
    line-height: 0.1
}

.lh-02 {
    line-height: 0.2
}

.lh-03 {
    line-height: 0.3
}

.lh-04 {
    line-height: 0.4
}

.lh-05 {
    line-height: 0.5
}

.lh-06 {
    line-height: 0.6
}

.lh-07 {
    line-height: 0.7
}

.lh-08 {
    line-height: 0.8
}

.lh-09 {
    line-height: 0.9
}

.lh-10 {
    line-height: 1
}

.lh-11 {
    line-height: 1.1
}

.lh-12 {
    line-height: 1.2
}

.lh-13 {
    line-height: 1.3
}

.lh-14 {
    line-height: 1.4
}

.lh-15 {
    line-height: 1.5
}

.lh-16 {
    line-height: 1.6
}

.lh-17 {
    line-height: 1.7
}

.lh-18 {
    line-height: 1.8
}

.lh-19 {
    line-height: 1.9
}

.lh-20 {
    line-height: 2
}

@media (max-width:1050px) {
    .lh-mbl-00 {
        line-height: 0
    }
    .lh-mbl-01 {
        line-height: 0.1
    }
    .lh-mbl-02 {
        line-height: 0.2
    }
    .lh-mbl-03 {
        line-height: 0.3
    }
    .lh-mbl-04 {
        line-height: 0.4
    }
    .lh-mbl-05 {
        line-height: 0.5
    }
    .lh-mbl-06 {
        line-height: 0.6
    }
    .lh-mbl-07 {
        line-height: 0.7
    }
    .lh-mbl-08 {
        line-height: 0.8
    }
    .lh-mbl-09 {
        line-height: 0.9
    }
    .lh-mbl-10 {
        line-height: 1
    }
    .lh-mbl-11 {
        line-height: 1.1
    }
    .lh-mbl-12 {
        line-height: 1.2
    }
    .lh-mbl-13 {
        line-height: 1.3
    }
    .lh-mbl-14 {
        line-height: 1.4
    }
    .lh-mbl-15 {
        line-height: 1.5
    }
    .lh-mbl-16 {
        line-height: 1.6
    }
    .lh-mbl-17 {
        line-height: 1.7
    }
    .lh-mbl-18 {
        line-height: 1.8
    }
    .lh-mbl-19 {
        line-height: 1.9
    }
    .lh-mbl-20 {
        line-height: 2
    }
}

.ls-00 {
    letter-spacing: 0px
}

.ls-05 {
    letter-spacing: 0.5px
}

.ls-10 {
    letter-spacing: 1px
}

.ls-15 {
    letter-spacing: 1.5px
}

.ls-20 {
    letter-spacing: 2px
}

.ls-25 {
    letter-spacing: 2.5px
}

.ls-30 {
    letter-spacing: 3px
}

.ls-35 {
    letter-spacing: 3.5px
}

.ls-40 {
    letter-spacing: 4px
}

.ls-45 {
    letter-spacing: 4.5px
}

.ls-50 {
    letter-spacing: 5px
}

.ls-55 {
    letter-spacing: 5.5px
}

.ls-60 {
    letter-spacing: 6px
}

.ls-65 {
    letter-spacing: 6.5px
}

.ls-70 {
    letter-spacing: 7px
}

.ls-75 {
    letter-spacing: 7.5px
}

.ls-80 {
    letter-spacing: 8px
}

.ls-85 {
    letter-spacing: 8.5px
}

.ls-90 {
    letter-spacing: 9px
}

.ls-95 {
    letter-spacing: 9.5px
}

.ls-100 {
    letter-spacing: 10px
}

.ls-105 {
    letter-spacing: 10.5px
}

.ls-110 {
    letter-spacing: 11px
}

.ls-115 {
    letter-spacing: 11.5px
}

.ls-120 {
    letter-spacing: 12px
}

.ls-125 {
    letter-spacing: 12.5px
}

.ls-130 {
    letter-spacing: 13px
}

.ls-135 {
    letter-spacing: 13.5px
}

.ls-140 {
    letter-spacing: 14px
}

.ls-145 {
    letter-spacing: 14.5px
}

.ls-150 {
    letter-spacing: 15px
}

@media (max-width:1050px) {
    .ls-mbl-00 {
        letter-spacing: 0px
    }
    .ls-mbl-05 {
        letter-spacing: 0.5px
    }
    .ls-mbl-10 {
        letter-spacing: 1px
    }
    .ls-mbl-15 {
        letter-spacing: 1.5px
    }
    .ls-mbl-20 {
        letter-spacing: 2px
    }
    .ls-mbl-25 {
        letter-spacing: 2.5px
    }
    .ls-mbl-30 {
        letter-spacing: 3px
    }
    .ls-mbl-35 {
        letter-spacing: 3.5px
    }
    .ls-mbl-40 {
        letter-spacing: 4px
    }
    .ls-mbl-45 {
        letter-spacing: 4.5px
    }
    .ls-mbl-50 {
        letter-spacing: 5px
    }
    .ls-mbl-55 {
        letter-spacing: 5.5px
    }
    .ls-mbl-60 {
        letter-spacing: 6px
    }
    .ls-mbl-65 {
        letter-spacing: 6.5px
    }
    .ls-mbl-70 {
        letter-spacing: 7px
    }
    .ls-mbl-75 {
        letter-spacing: 7.5px
    }
    .ls-mbl-80 {
        letter-spacing: 8px
    }
    .ls-mbl-85 {
        letter-spacing: 8.5px
    }
    .ls-mbl-90 {
        letter-spacing: 9px
    }
    .ls-mbl-95 {
        letter-spacing: 9.5px
    }
    .ls-mbl-100 {
        letter-spacing: 10px
    }
    .ls-mbl-105 {
        letter-spacing: 10.5px
    }
    .ls-mbl-110 {
        letter-spacing: 11px
    }
    .ls-mbl-115 {
        letter-spacing: 11.5px
    }
    .ls-mbl-120 {
        letter-spacing: 12px
    }
    .ls-mbl-125 {
        letter-spacing: 12.5px
    }
    .ls-mbl-130 {
        letter-spacing: 13px
    }
    .ls-mbl-135 {
        letter-spacing: 13.5px
    }
    .ls-mbl-140 {
        letter-spacing: 14px
    }
    .ls-mbl-145 {
        letter-spacing: 14.5px
    }
    .ls-mbl-150 {
        letter-spacing: 15px
    }
}

.c-fff {
    color: #fff
}

.bc-fff {
    background-color: #fff
}

.c-000 {
    color: #000
}

.bc-000 {
    background-color: #000
}

.c-p-1 {
    color: #004b4a
}

.bc-p-1 {
    background-color: #004b4a
}

.c-p-2 {
    color: #31b0c8
}

.bc-p-2 {
    background-color: #31b0c8
}

.c-p-3 {
    color: #f0d283
}

.bc-p-3 {
    background-color: #f0d283
}

.c-p-4 {
    color: #fbe1e1
}

.bc-p-4 {
    background-color: #fbe1e1
}

.c-p-5 {
    color: #f7c4c4
}

.bc-p-5 {
    background-color: #f7c4c4
}

.c-p-6 {
    color: #e3ad1e
}

.bc-p-6 {
    background-color: #e3ad1e
}

.c-g-1 {
    color: #4b4b4b
}

.bc-g-1 {
    background-color: #4b4b4b
}

.c-g-2 {
    color: #c8c8c8
}

.bc-g-2 {
    background-color: #c8c8c8
}

.c-g-3 {
    color: #969696
}

.bc-g-3 {
    background-color: #969696
}

.c-g-4 {
    color: #646464
}

.bc-g-4 {
    background-color: #646464
}

.c-g-5 {
    color: #ebebeb
}

.bc-g-5 {
    background-color: #ebebeb
}

.c-g-6 {
    color: #dcdcdc
}

.bc-g-6 {
    background-color: #dcdcdc
}

.c-g-7 {
    color: #777
}

.bc-g-7 {
    background-color: #777
}

@media (max-width:1050px) {
    .c-mbl-fff {
        color: #fff
    }
    .bc-mbl-fff {
        background-color: #fff
    }
    .c-mbl-000 {
        color: #000
    }
    .bc-mbl-000 {
        background-color: #000
    }
    .c-mbl-p-1 {
        color: #004b4a
    }
    .bc-mbl-p-1 {
        background-color: #004b4a
    }
    .c-mbl-p-2 {
        color: #31b0c8
    }
    .bc-mbl-p-2 {
        background-color: #31b0c8
    }
    .c-mbl-p-3 {
        color: #f0d283
    }
    .bc-mbl-p-3 {
        background-color: #f0d283
    }
    .c-mbl-p-4 {
        color: #fbe1e1
    }
    .bc-mbl-p-4 {
        background-color: #fbe1e1
    }
    .c-mbl-p-5 {
        color: #f7c4c4
    }
    .bc-mbl-p-5 {
        background-color: #f7c4c4
    }
    .c-mbl-p-6 {
        color: #e3ad1e
    }
    .bc-mbl-p-6 {
        background-color: #e3ad1e
    }
    .c-mbl-g-1 {
        color: #4b4b4b
    }
    .bc-mbl-g-1 {
        background-color: #4b4b4b
    }
    .c-mbl-g-2 {
        color: #c8c8c8
    }
    .bc-mbl-g-2 {
        background-color: #c8c8c8
    }
    .c-mbl-g-3 {
        color: #969696
    }
    .bc-mbl-g-3 {
        background-color: #969696
    }
    .c-mbl-g-4 {
        color: #646464
    }
    .bc-mbl-g-4 {
        background-color: #646464
    }
    .c-mbl-g-5 {
        color: #ebebeb
    }
    .bc-mbl-g-5 {
        background-color: #ebebeb
    }
    .c-mbl-g-6 {
        color: #dcdcdc
    }
    .bc-mbl-g-6 {
        background-color: #dcdcdc
    }
    .c-mbl-g-7 {
        color: #777
    }
    .bc-mbl-g-7 {
        background-color: #777
    }
}